# Created by https://www.toptal.com/developers/gitignore/api/jupyternotebooks
# Edit at https://www.toptal.com/developers/gitignore?templates=jupyternotebooks

### JupyterNotebooks ###
# gitignore template for Jupyter Notebooks
# website: http://jupyter.org/

.ipynb_checkpoints
*/.ipynb_checkpoints/*

# IPython
profile_default/
ipython_config.py

# Do not store figures
/figures/
/03_figures_presentation/

# Do not add data or processed data
/data/
/local_data/processed/


.DS_Store

__pycache__/


### R ###
# History files
**/.Rhistory
**/.Rapp.history

# Session Data files
**/.RData